################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MongoCsharpGenericDriver/.vs/MongoCsharpGenericDriver
/MongoCsharpGenericDriver/MongoCsharpGenericDriver/obj
/MongoCsharpGenericDriver/MongoCsharpGenericDriver/bin
